<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer" id="footerwrap">
    <div class="container">
        <div class="col-lg-12">
            <div class="hline-w"></div>
            <p>
                Jakub Malinowski 2017<br/>
            </p>
        </div>
    </div>
</div>

<script th:src="@{/js/retina-1.1.0.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>