<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Rejestracja</title>
    <div th:replace="fragments/header :: header-css"/>
    <script th:src="@{/js/address-ajax.js}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div id="service">
    <div class="container">
        <div class="row centered">
            <div sec:authorize="isAuthenticated()">
                <h1>Zarejestruj się!</h1>
                <div class="col-md-4 col-md-offset-4">
                    <form th:action="@{/user/address}" method="post" class="form" th:object="${address}">
                        <div th:if="${#fields.hasErrors('*')}"
                             th:errors="*"
                             class="alert alert-danger" role="alert"></div>

                        <div class="form-group">
                            <select class="form-control" id="country" name="country">
                                <option th:each="country : ${countries}" th:value="${country.id}"
                                        th:text="${country.name}"/>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="state" name="state">
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="street" required="true" placeholder="Ulica"/>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="localNumber" required="true" placeholder="Numer domu/lokalu"/>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary block full-width" value="Zapisz adres"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>