<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Profil użytkownika</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div id="service">
    <div class="container">

        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h2>Szczegóły rezerwacji: </h2>
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <td>Data rezerwacji: </td>
                        <td th:text="${#dates.format(booking.bookingDate, 'dd-MM-yyyy hh:mm:ss')}"></td>
                    </tr>
                    <tr>
                        <td>Rezerwujący: </td>
                        <td th:text="${booking.customer.firstName + ' ' + booking.customer.lastName}"/>
                    </tr>
                    <tr>
                        <td>Liczba osób: </td>
                        <td th:text="${booking.peopleQuantity}"/>
                    </tr>
                    <tr>
                        <td>Cena podstawowa (wszyscy): </td>
                        <td th:text="${booking.trip.tripPrice * booking.peopleQuantity + 'zł'}"/>
                    </tr>
                    <tr>
                        <td>All inclusive?</td>
                        <td th:text="${booking.allInclusive? 'Tak' : 'Nie'}"/>
                    </tr>
                    <tr th:if="${booking.allInclusive}">
                        <td>Cena all inclusive (wszyscy)</td>
                        <td th:text="${booking.peopleQuantity * booking.trip.allInclusivePrice + 'zł'}"/>
                    </tr>
                    <tr>
                        <td>Koszt ostateczny: </td>
                        <td th:if="${booking.allInclusive}" th:text="${booking.getPeopleQuantity() * booking.trip.allInclusivePrice + booking.getPeopleQuantity() * booking.trip.tripPrice + 'zł'}"/>
                        <td th:if="${!booking.allInclusive}" th:text="${booking.getPeopleQuantity() * booking.trip.tripPrice + 'zł'}"/>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a th:href="@{/trip/{id}(id=${booking.trip.id})}">
                                Szczegóły podróży
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>