<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel Agency Main Site</title>

    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <script th:src="@{/js/jquery-ui.js}"/>
    <script th:src="@{/js/creator-date-picker.js}"/>
    <script th:src="@{/js/address-ajax.js}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div id="twrap">
    <div class="container">
        <div class="row">
            <div style="color: white;" class="col-lg-8 col-lg-offset-2">
                <br/>
                <h3>Witaj, na stronie biura podróży</h3>
                <h1>Zarezerwuj swój wyjazd już dziś!</h1>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <form th:action="@{/trip/search}" method="get" th:object="${search}">
                    <div class="form-group">
                        <select class="form-control" id="country" name="country"
                                th:field="*{country}">
                            <option th:each="country : ${availableCountries}" th:value="${country.id}"
                                    th:text="${country.name}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Wyjazd od" th:field="*{startDate}"
                               id="startDate" required="true" class="form-control"
                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Wyjazd do" th:field="*{endDate}"
                               id="endDate" required="true" class="form-control"
                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"/>
                    </div>

                    <div class="form-group">
                        <select class="form-control" th:field="*{peopleCount}">
                            <option th:value="1" th:text="1"/>
                            <option th:value="2" th:text="2"/>
                            <option th:value="3" th:text="3"/>
                            <option th:value="4" th:text="4"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-theme btn-block" value="Szukaj podróży"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Handsomely Crafted</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Retina Ready</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Quality Theme</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
</div>

<div id="twrap">
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <i class="fa fa-comment-o"></i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                <h4><br/>Marcel Newman</h4>
                <p>WEB DESIGNER - BLACKTIE.CO</p>
            </div>
        </div>
    </div>
</div>
<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>OUR CLIENTS</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="assets/img/clients/client01.png" class="img-responsive"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="assets/img/clients/client02.png" class="img-responsive"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="assets/img/clients/client03.png" class="img-responsive"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="assets/img/clients/client04.png" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>