<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Wybrana podróż!</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <script th:src="@{/js/jquery-ui.js}"/>
    <script th:src="@{/js/creator-date-picker.js}"/>
    <script th:src="@{/js/address-ajax.js}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div id="service">
    <div class="container">
        <div class="row">
            <h1>Wybrana podróż: </h1>
            <div class="col-lg-8">
                <h3 th:text="${trip.title}"/>
                    <img src="http://via.placeholder.com/800x350"
                         class="rounded img-responsive"/>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Podstawowe informacje</a></li>
                    <li><a data-toggle="tab" href="#menu1">Cechy podróży</a></li>
                    <li><a data-toggle="tab" href="#menu2">Atrakcje i plany</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>Podstawowe informacje</h3>
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <td>Data wyjazdu</td>
                                <td th:text="${trip.startDate}"/>
                            </tr>
                            <tr>
                                <td>Data powrotu</td>
                                <td th:text="${trip.endDate}"></td>
                            </tr>
                            <tr>
                                <td>Max. liczba osób</td>
                                <td th:text="${trip.peopleLimit}"/>
                            </tr>
                            <tr>
                                <td>Kraj pobytu</td>
                                <td th:text="${trip.destinationCountry.name}"></td>
                            </tr>
                            <tr>
                                <td>Miasto pobytu</td>
                                <td th:text="${trip.destinationCity.name}"/>
                            </tr>
                            <tr>
                                <td>Cena podstawowa</td>
                                <td th:text="${trip.tripPrice} + 'zł/os'"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Cechy podróży</h3>
                        <ul>
                           <li th:each="feature : ${trip.features}">
                               <span th:text="${feature.name}"/>
                           </li>
                        </ul>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Atrakcje i plany</h3>
                        <p>TODO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Rezerwacja</h3>
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <td>Liczba osób</td>
                        <td th:text="${search.peopleCount}"/>
                    </tr>
                    <tr>
                        <td th:text="${'Cena za ' + search.peopleCount + ' osoby'}"></td>
                        <td th:text="${search.peopleCount} * ${trip.tripPrice} + ${'zł'}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form th:action="@{/booking/book}" method="post" th:object="${search}">
                                <input type="hidden" th:field="*{startDate}" th:value="*{startDate}"/>
                                <input type="hidden" th:field="*{endDate}" th:value="*{endDate}"/>
                                <input type="hidden" th:field="*{peopleCount}" th:value="*{peopleCount}"/>
                                <input type="hidden" th:field="*{tripId}" th:value="${trip.id}"/>
                                <input type="submit" value="Rezerwuj!" class="btn btn-theme btn-block"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>Szukaj ponownie!</h3>
                <form th:action="@{/trip/search}" method="get" th:object="${search}">
                    <div class="form-group">
                        <select class="form-control" id="country" name="country"
                                th:field="*{country}">
                            <option th:each="country : ${availableCountries}" th:value="${country.id}"
                                    th:text="${country.name}"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Wyjazd od" th:field="*{startDate}"
                               id="startDate" required="true" class="form-control"
                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Wyjazd do" th:field="*{endDate}"
                               id="endDate" required="true" class="form-control"
                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"/>
                    </div>

                    <div class="form-group">
                        <select class="form-control" th:field="*{peopleCount}">
                            <option th:value="1" th:text="1"/>
                            <option th:value="2" th:text="2"/>
                            <option th:value="3" th:text="3"/>
                            <option th:value="4" th:text="4"/>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-theme btn-block" value="Szukaj podróży"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>